* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button:focus {
  outline: none;
}

select {
  outline: none;
}

body {
  min-width: 550px;
  background-image: linear-gradient(to bottom right, #b5e4ff, #0362b4);
  background-size: cover;
  height: 100vh;
}
